    <div class="container-fluid">
      <div id="main" class="col-md-9">
        <div class="row">
          <h2>{{course.name}}</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">CSS</a></li>
            <li class="active">Introduction to CSS</li>
          </ol>
          <div id="course-detail" class="col-md-9">
            <p><img ng-src="{{course.img}}" style="width:100%;" alt="Course Video"></p>
            <div class="row">
              <div class="col-md-8">
                <tags-input ng-model="tags"
                  on-tag-added="onTagsChanged($tag)"
                  on-tag-removed="onTagsChanged($tag)"></tags-input>
              </div>
              <div class="col-md-4">
                <rating class="ui-rating ui-rating-warning size-h3 pull-right"
                        value="course.avg_rating"
                        max="5"
                        min="0"
                        readonly="hasRated"
                        ng-class="{'has-rated':hasRated}"
                        state-on="'fa fa-star'"
                        state-off="'fa fa-star-o'"></rating>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <!-- #course-detail -->
          </div>
          <div id="course_information" class="col-md-3">
            <div class="well well-lg">
              <h4>Producer</h4>
              <p>{{course.producer_name}}</p>
              <h4>Rigor</h4>
              <p>{{course.rigor}}</p>
              <h4>Length</h4>
              <p>{{course.length}}</p>
              <h4>Prerequisites</h4>
              <ul>
              <li>Cras justo odio</li>
              <li>Dapibus ac facilisis in</li>
              </ul>
            <!-- well -->
            </div>
            <!-- course_information -->
          </div>
        </div>
        <!-- #main -->
      </div>
      <div id="other-courses" class="col-md-3">
        <h3>Easier Courses</h3>
        <article class="course-box panel panel-box compact" ng-repeat="course in relatedCourses">
          <div class="panel-top panel-label color-{{domainColor(course.subject_id)}}">{{subjectName(course.subject_id)}}</div>
          <div class="panel-heading bg-{{domainColor(course.subject_id)}}" >
            <h3 class="text-center"><a href="#/courses/{{course.id}}">{{course.name}}</a></h3>
          </div>
          <div class="panel-bottom bg-reverse">
             <ul class="list-justified text-center">
                  <li>
                      <p class="size-h2 text-info"
                          popover="This is a video course" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom"><i class="fa fa-video-camera"></i></p>
                  </li>
                  <li>
                      <button class="btn btn-warning" 
                          popover="Rating: {{getRatingStars(course.rating)}}" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom">
                              <span class="fa fa-star"></span>&nbsp;&nbsp;{{course.avg_rating||"N/A"}}
                      </button>
                  </li>
                  <li>
                      <button class="btn btn-danger" 
                          popover="Rigor level: {{course.rigor}}" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom">
                              <span class="fa fa-dashboard"></span>&nbsp;&nbsp;{{course.avg_rigor||"N/A"}}
                      </button>
                  </li>
                  <li class="text-label">
                      <p class="size-h4"
                          popover="This course is free" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom">FREE</p>
                  </li>                        
              </ul> 
          </div>
        </article>
        <!-- #other-courses -->
      </div>
    </div>