    <div class="container-fluid">
      <div id="main" class="col-md-9">
        <div class="row">       
          <h2>
            {{course.name}}
            <small> <span class="label label-warning">{{course.course_medium}}</span></small>
            <small> <span class="label label-success">{{course.is_free ? "free" : ""}}</span></small>
          </h2>
          <p>Course Page: <a href="{{course.url}}" target="_blank">{{course.url}}</a></p>
          <ol class="breadcrumb">
            <li><a href="#">{{getDomain(course.subject_id).domain}}</a></li>
            <li><a href="#">{{subjectName(course.subject_id)}}</a></li>
          </ol>
          <div id="course-detail" class="col-md-8">
            <p><img ng-src="{{course.img}}" style="width:100%;" alt="Course Video"></p>

            <div id="feedback-average">
                
              <div class="rating-container pull-right">
                <p class="h4 pull-left">Rating: </p>
                <button class="btn btn-warning" 
                  popover="Average rating: {{getRatingStars(course.avg_rating)}}" 
                  popover-trigger="mouseenter"><span class="fa fa-star"></span>&nbsp;&nbsp;{{course.avg_rating|number:1}}</button>              
              </div>
              
              <div class="rigor-container pull-right">
                <p class="h4 pull-left">Rigor: </p>                
                <button class="btn btn-danger" 
                  popover="Average rigor level: {{course.avg_rigor | number:1}}" 
                  popover-trigger="mouseenter"><span class="fa fa-dashboard"></span>&nbsp;&nbsp;{{course.avg_rigor|number:1}}</button>                  
              </div>
              
              <div class="clearfix"></div>
              
              <!-- #feedback-average -->
            </div>
            
            <p id="course-description">{{course.description}}</p>
            
            <h4>Tags:</h4>
            <tags-input ng-model="course.tags"
              on-tag-added="onTagsChanged($tag)"
              display-property="tag"
              on-tag-removed="onTagsChanged($tag)"></tags-input>
            
            <!-- #course-detail -->
          </div>
          <div id="course_information" class="col-md-4">
            <div class="well well-lg">
              <h4>Producer</h4>
              <p>{{course.producer_name}}</p>
              <h4>Length</h4>
              <p>{{course.length}}</p>
              <h4>Prerequisites</h4>
              <p>{{course.prereq}}</p>
            <!-- well -->
            </div>
            
            <div class="well well-lg feedback">
              <h4>Rate this course</h4>
              <div class="rating-container">
                <rating class="ui-rating ui-rating-warning size-h3"
                  value="course.my_rating"
                  max="5"
                  min="0"
                  readonly="hasRated"
                  ng-class="{'has-rated':hasRated}"
                  state-on="'fa fa-star'"
                  state-off="'fa fa-star-o'"></rating>
              </div>
              <h4>Evaluate the rigor</h4>
              <div class="rigor-container">
                <select class="form-control">
                  <option>-</option>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>
              <!-- well -->
            </div>
            
            <!-- course_information -->
          </div>
        </div>
        <!-- #main -->
      </div>
      <div id="other-courses" class="col-md-3">
        <h3>Related Courses</h3>
        <article class="course-box panel panel-box compact" ng-repeat="course in relatedCourses">
          <div class="panel-top panel-label color-{{domainColor(course.subject_id)}}">{{subjectName(course.subject_id)}}</div>
          <div class="panel-heading bg-{{domainColor(course.subject_id)}}" >
            <h3 class="text-center"><a href="#/courses/{{course.id}}">{{course.name}}</a></h3>
          </div>
          <div class="panel-bottom bg-reverse">
             <ul class="list-justified text-center">
                  <li>
                      <p class="size-h2 text-info"
                          popover="This is a video course" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom"><i class="fa fa-video-camera"></i></p>
                  </li>
                  <li>
                      <button class="btn btn-warning" 
                          popover="Rating: {{getRatingStars(course.avg_rating)}}" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom">
                              <span class="fa fa-star"></span>&nbsp;&nbsp;{{course.avg_rating | number:1 ||"N/A"}}
                      </button>
                  </li>
                  <li>
                      <button class="btn btn-danger" 
                          popover="Rigor level: {{course.avg_rigor}}" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom">
                        <span class="fa fa-dashboard"></span>&nbsp;&nbsp;{{course.avg_rigor | number:1 ||"N/A"}}
                      </button>
                  </li>
                  <li class="text-label">
                      <p class="size-h4"
                          popover="This course is free" 
                          popover-trigger="mouseenter"
                          popover-placement="bottom">FREE</p>
                  </li>                        
              </ul> 
          </div>
        </article>
        <!-- #other-courses -->
      </div>
    </div>