<div class="page page-general course-catalog" >

    <div class="panel panel-box filters">
        <div class="panel-left panel-item bg-dark size-h3">
                    <i class="fa fa-filter"></i>
                </div>
        <div class="panel-item panel-right">
            <form class="form-horizontal row" role="form">
                <div class="form-group col-sm-4">
                    <label for="inputDomainSelect" class="control-label">Select Domain: </label>
                    <div class="ui-select">
                        <select ng-model="courseFilter.domain" ng-options="domain.name for domain in filterOptions.domains track by domain.id">
                            <option value="">Show all</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="inputTopicSelect" class="control-label">Select Topic: </label>
                    <div class="ui-select">
                        <select ng-model="courseFilter.subject" ng-options="subject.name for subject in filterOptions.subjects track by subject.id">
                            <option value="">Show all</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="inputTopicSelect" class="control-label">Select skill level: </label>
                    <div class="ui-select">
                        <select ng-model="courseFilter.level" ng-options="level.name for level in filterOptions.levels track by level.id">
                            <option value="">Show all</option>
                        </select>
                    </div>
                </div>
            </form>  
        </div>
    </div>


    <section class="row">

        <article class="course-box col-md-3" ng-repeat="course in courses">
            <div class="panel panel-box">
                <div class="panel-top panel-label color-{{domainColor(course.subject_id)}}">
                    {{subjectName(course.subject_id)}}
                </div>
                    <div class="panel-heading bg-{{domainColor(course.subject_id)}}" >
                        <h3 class="text-center max-lines-3"><a href="#/courses/{{course.id}}">{{course.name}}</a></h3>
                        <div class="divider divider-lg"></div>
                        <div class="divider divider-lg"></div>
                    </div>
                <div class="panel-btn-group">
                    <a href="#/courses/{{course.id}}" class="panel-icon bg-bright" ng-style="{'background-image':'url('+course.img+')', 'background-size':'cover'}">
                    </a>

                    <div class="panel-btn-rotate clearfix">
                        <div class="panel-btn-container panel-btn-left">
                            <a href="#/courses/{{course.id}}" class="panel-btn">View</a>
                        </div>
                        <div class="panel-btn-container panel-btn-right">
                            <a href="{{course.url}}" class="panel-btn">Go to &gt;</a>
                        </div>
                    </div>
                    

                    
                </div>
                <div class="panel-bottom bg-reverse">
                   <ul class="list-justified text-center">
                        <li>
                            <p class="size-h2 text-info"
                                popover="This is a video course" 
                                popover-trigger="mouseenter"
                                popover-placement="bottom"><i class="fa fa-video-camera"></i></p>
                        </li>
                        <li>
                            <button class="btn btn-warning" 
                                popover="Rating: {{getRatingStars(course.rating)}}" 
                                popover-trigger="mouseenter"
                                popover-placement="bottom">
                                    <span class="fa fa-star"></span>&nbsp;&nbsp;{{course.rating}}
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-danger" 
                                popover="Rigor level: {{course.rigor}}" 
                                popover-trigger="mouseenter"
                                popover-placement="bottom">
                                    <span class="fa fa-dashboard"></span>&nbsp;&nbsp;{{course.rigor}}
                            </button>
                        </li>
                        <li class="text-label">
                            <p class="size-h4"
                                popover="This course is free" 
                                popover-trigger="mouseenter"
                                popover-placement="bottom">FREE</p>
                        </li>                        
                    </ul> 
                </div>
            </div>
        </article>

    </section>
</div>