    <div class="container-fluid">
      <div id="main" class="col-md-9">
        <div class="row">
          <h2>{{course.name}}</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">CSS</a></li>
            <li class="active">Introduction to CSS</li>
          </ol>
          <div id="course-detail" class="col-md-8">
            <!--<p><img ng-src="{{course.img}}" class="img-responsive" alt="Course Video"></p>-->
            <p><img ng-src="{{course.img}}" style="width:100%;" alt="Course Video"></p>
            <div class="row">
              <div class="col-md-8">
                <span class="label label-primary">Tag #1</span>
                <span class="label label-primary">Tag #2</span>
                <span class="label label-primary">Tag #3</span>
              </div>
              <div class="col-md-4">
                <rating class="ui-rating ui-rating-warning size-h3 pull-right"
                        value="course.rating"
                        max="5"
                        min="0"
                        state-on="'fa fa-star'"
                        state-off="'fa fa-star-o'"></rating>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <!-- #course-detail -->
          </div>
          <div id="prerequisites" class="col-md-4">
            <p>Producer: {{course.producer_id}}</p>
            <p>Rigor: {{course.rigor}}</p>
            <p>Length: {{course.length}}</p>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Prerequisites</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li>Cras justo odio</li>
                  <li>Dapibus ac facilisis in</li>
                </ul>
              </div>
            </div>
            <!-- prerequisites -->
          </div>
        </div>
        <!-- #main -->
      </div>
      <div id="other-courses" class="col-md-3">
        <h3>Easier Courses</h3>
        <div class="thumbnail">
          <a href="#"><img class="img-responsive" src="http://placehold.it/240x180" alt="100%x180"></a>
          <div class="caption">
            <h4>Some Course #2 <span class="label label-success">Free</span></h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </div>
          <!-- .thumbnail -->
        </div>
        <div class="thumbnail">
          <a href="#"><img class="img-responsive" src="http://placehold.it/240x180" alt="100%x180"></a>
          <div class="caption">
            <h4>Some Course #3 <span class="label label-warning">$19.99</span></h4>
            <p>             
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <!-- .thumbnail -->
        </div>
        <h3>Related Courses</h3>
        <div class="thumbnail">
          <a href="#"><img class="img-responsive" src="http://placehold.it/240x180" alt="100%x180"></a>
          <div class="caption">
            <h4>Some Course #4 <span class="label label-success">Free</span></h4>
            <p>   
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            </p>
          </div>
          <!-- .thumbnail -->
        </div>
        <!-- #other-courses -->
      </div>
    </div>